@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

nav {
  background: rgb(3, 37, 65);
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 80%;
  margin: auto;
  padding: 0;
}

ul div {
  display: flex;
  align-items: center;
}

ul li {
  cursor: pointer;
  margin: 0;
}

ul div li {
  margin-right: 20px;
}

@media (max-width: 768px) {
  ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}