html, body, #root {
  margin: 0;
  height: 100vh;
} 

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;  
}

body {
	background: #242526;
	color: #ffffff;
  background-image: url(http://www.w3.org/2000/svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 200px; 
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}
